body {
  background-color: teal; /
  font-family: 'Helvetica', sans-serif; /
  font-size: 16px;
  line-height: 1.5;
  margin: 20x;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #0000EE; 
  text-decoration: black underline;
}

.container {
  max-width: 600px;
  margin: 15 auto;
  padding: 15 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}


