body {
    background-color:Turquoise;
}

h1 {
    color: white;
    margin-left: 20px;
    
}
h3 {
    color: white;
    margin-left: 20px;
}
p{
    color: white;
    margin-left: 20px;
}
h1 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.875em;
}
p {
    font-size: 0.875em;
}
p{
    font: 14px courier, serif;
}
h1{
    font: 14px courier, serif;
}
h3{
    font: 14px courier, serif;
}
